#one{

    background-color: green;
    color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 100;
}

#two{

    background-color: lightgreen;
    padding: 20px
}

#two div{

    size: 40px;
    color:black;
}

.dealerdisplay_main{


    background-color: lightgreen;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(50px,right);
    
    
}

.dealerdisplay_main #three{

       
    background-color:whitesmoke;
    margin-top: 20px;
    margin-left: 100px;


}
.navin img{


    height: 100%;
    width: 100%;
}

.main{
          
    
    background-color:lightgreen;
    padding-bottom: 80%;
    text-align: center;
}



#header{


    position: sticky;
    top: 0;
    z-index: 100;
    background-color:green;
    color: white;


}
#navv span{
 
    margin: 10px;
    size: 20px;
    background-color: white;
    padding: 10px;
}

#header div{

    
    text-align: right;
    
}