.main{
          
    
    background-color:lightgreen;
}


.na div{

    padding: 10px;
    text-align: left;
    
}
.main #header{


    position: sticky;
    top: 0;
    z-index: 100;
    background-color:green;
    color: white;

}

 #header div{

    
    text-align: right;
    
}


#header div button{

    
    margin: 20px;
    
}


#farmer hr{
     
    color: green;

}
.na div span{

    padding-left: 80px;
}
.main #one{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(200px,left);
    background-color:green;
    padding: 20px;
    font-size: 20px;

}

#one NavLink{


    background-color: white;
}