.main{

    background-color:lightgoldenrodyellow;
}


.na div{

    padding: 10px;
    text-align: left;
    
}
.main #header{


    position: sticky;
    top: 0;
    z-index: 100;
    background-color: bisque;
}
.na div span{

    padding-left: 80px;
}
.main #one{
    margin-left:100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(200px,left);
    background-color:beige;
    color: black;
    font-size: 20px;

}